#body 
{

  color: lightgray;
} 
#h1{
font-family: "sans-serif",
 font-style :"italic",
  font-weight:"bold"
}
#h4{
    font-family: "sans-serif",
     font-style :"italic",
      font-weight:"bold"
    }

    #camera{
        width: 500px;,
        height: 400px ;
    }

    div{
      width: 10px;
      color: aliceblue;
    }

    img{
      width: 10px;
      border-radius: 3px;
      padding: 5px;
      box-shadow: 5px;
    }